body {
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background: #5290fd;
}
/* @media區域 */
@media (max-width: 576px) {
  .boxm85 {
    width: 85% !important;
    margin: auto;
  }
  .logosmall {
    font-size: 20px !important;
  }

  .front,
  .back {
    position: static !important;
  }
  .hg {
    height: 100px !important;
  }
  .h576 {
    height: 50% !important;
  }
}

@media (max-width: 320px) {
  .logos320 {
    font-size: 14px;
  }
  .hg {
    height: 44px !important;
  }
}

@media (max-width: 992px) {
  .front {
    position: relative !important;
  }

  .back {
    position: relative !important;
    top: -50% !important;
    left: 0 !important;
    z-index: 999 !important;
    height: 30px !important;
  }
}

@media (max-width: 768px) {
  .hg {
    height: 100px !important;
  }
}
@media (min-width: 1200px) {
  .hg {
    height: 300px !important;
  }
}

@media (min-width: 992px) {
  .hg {
    height: 300px !important;
  }
}
/* 背景顏色區 */
.bg-in1 {
  background: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.bg-in2 {
  background: linear-gradient(#fff, #7fd8fa);
}
.bg-in3 {
  background: linear-gradient(#7fd8fa, #207ec5);
}
.bg-in4 {
  /* background:linear-gradient(#207ec5, #2C5DB2); */
  background-image: url("../img/bg3.png"),
    linear-gradient(#207ec5, rgb(12, 8, 68));
  background-size: contain, contain;
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
}
.bg-footer {
  background: #0c0844;
  /* background: #331D0E; */
}
.bg-gray {
  background: rgb(180, 177, 177, 0.2);
}

.bg-fff {
  background: rgba(255, 255, 255, 0.7);
}

.bg-actBlue {
  background: transparent linear-gradient(180deg, #e1f9fe 0%, #74dcf6 100%) 0%
    0% no-repeat padding-box;
}
/* 文字顏色 */
.plblue {
  color: #5a65f5;
}
.pgray {
  color: #707070;
}

.pgreen {
  color: #56bcc7;
}
.pyellow {
  color: #f6b500;
}
.pblue {
  color: #006fff;
}
.pmblue {
  color: #3c3868;
}
.pmblue2 {
  color: #53599a;
}
/* 標題字 */
.title_in_mid {
  font-size: 36px;
  color: #fff;
  background: #56bcc7;
}

.title_in_mid2 {
  font-size: 18px;
  color: #53599a;
}
.title_in_mid4 {
  font-size: 28px;
  color: #53599a;
}
.title_in_mid3 {
  font-size: 22px;
  color: #fff;
  background: #56bcc7;
}
.title_mid5 {
  font-size: 24px;
  color: #5a65f5;
}
.title_mid6 {
  font-size: 20px;
  color: #707070;
}

.title_mid7 {
  font-size: 28px;
  color: #5a65f5;
}

/* 按鈕顏色 */

.bth-B {
  background: linear-gradient(to right, #9cc6f5, #3e69f6);
  color: #fff;
  border-color: #9cc6f5;
  width: 150px;
}
.btn:hover {
  color: #207ec5;
  text-decoration: none;
  background: RGB(255, 255, 255, 0.5) !important;
}

/* other */
.index1_h {
  height: 850px;
  max-width: 100%;
}

.indexbox {
  width: 480px;
  height: 197px;
  background: RGB(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-bottom: 60px;
  margin-right: 50px;
  box-sizing: border-box;
}
.hrnew {
  border-top: 2px dashed #f6b500;
}

.bor-size {
  border-left-width: medium !important;
}

.border-lblue {
  border-color: #5a65f5 !important;
}

.border-gray {
  border: 1px solid #70707077 !important;
}
.textbox_index h5,
p {
  margin: 0;
}

.textbox_index p {
  text-align: right;
}
/* footer */
.foottop {
  padding-top: 250px;
}
.footb {
  padding-bottom: 100px;
}
.footimg {
  padding-left: 15px;
}

/* P2 */

.inpic_size {
  /* 第二頁活動圖 */
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

/* P3 */
.text-br {
  border: 1px solid #ccc;
  border-radius: 50px;
}
.inpic3_size {
  width: 350px;
  height: 450px;
  border-radius: 20px;
}

/* P4 */

.inpic4_size {
  width: 350px;
  height: 250px;
  border-radius: 20px;
}
.inpic4_sea {
  position: absolute;
  top: -400px;
}

/* footer */

.f_icon {
  width: 100px;
  height: 100px;
}

/* active */

.aimg_size {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* show */
.spic_size {
  width: 250px;
  height: 365px;
}

/* zoneT */
.zpic_size {
  width: 1140px;
  height: auto;
}
.zpic_sizes {
  width: 400px;
  height: 300px;
}
.objuse {
  object-fit: cover !important;
  object-position: center center !important;
}

/* service */

.shover:hover {
  transform: rotate(10deg);
}
/* BS修改 */
.card-header {
  border-radius: 5px !important;
  /* background: linear-gradient(to right, #f6cd00, #ffa200); */
  color: #fff;
  text-align: center;
}

ul.nav-item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-item a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color 0.35s ease;
}

.nav-item a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width 0s ease, background 0.35s ease;
}

.nav-item a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #f6cd00;
  transition: width 0.35s ease;
}

.nav-item a:hover:before {
  width: 100%;
  background: #f6cd00;
  transition: width 0.35s ease;
}

.nav-item a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.col-lg-4 {
  padding-left: 2px;
  padding-right: 2px;
}
.container-fluid {
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
  padding-bottom: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 20px 0;
  padding-bottom: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rounded {
  border-radius: 20px !important;
}
.rounded2 {
  border-radius: 10px !important;
}
.rounded3 {
  border-radius: 20px 20px 0px 0px;
}

/* 展區卡片翻轉 */
/* .flip-container {
	perspective: 1000px;
} */
.flipper:hover,
.flipper.hover {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
